bert-serving==0.0.1
bert-serving-client==1.10.0
bert-serving-server==1.10.0
blis==0.7.4
catalogue==2.0.1
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
colorama==0.4.4
contextualSpellCheck==0.4.1
cors==0.9.11
cymem==2.0.5
editdistance==0.5.3
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.0.0/en_core_web_trf-3.0.0-py3-none-any.whl
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.10
ftfy==5.9
future==0.18.2
gazpacho==1.1
gensim==4.0.1
gevent==21.1.2
googletrans==3.0.0
GPUtil==1.4.0
greenlet==1.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
murmurhash==1.0.5
nltk==3.6.1
numpy==1.20.2
packaging==20.9
pandas==1.2.4
pathy==0.4.0
preshed==3.0.5
pydantic==1.7.3
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.17.1
pytz==2021.1
pyzmq==22.0.3
quote==2.0.4
rdflib==5.0.0
REfO==0.13
regex==2021.4.4
requests==2.25.1
requests-file==1.5.1
rfc3986==1.4.0
sacremoses==0.0.44
scikit-learn==0.24.2
scipy==1.6.3
search-suggestion==0.1.0
six==1.15.0
sklearn==0.0
smart-open==3.0.0
sniffio==1.2.0
spacy==3.0.5
spacy-alignments==0.7.2
spacy-legacy==3.0.2
spacy-transformers==1.0.1
SPARQLWrapper==1.8.5
srsly==2.4.0
symspellpy==6.7.0
termcolor==1.1.0
thinc==8.0.2
threadpoolctl==2.1.0
tldextract==3.1.0
tokenizers==0.9.4
torch==1.8.1
torchcontrib==0.0.2
tqdm==4.60.0
transformers==4.2.2
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.4
wasabi==0.8.2
wcwidth==0.2.5
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.3.0
